* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}



.box::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgba(230, 227, 222, 0) 0%, rgba(34, 46, 45, 0.92154789535545814) 86%, rgba(1, 15, 15, 0.96584713) 99%);
}

.navbar{
    position: absolute;
    z-index: 1;
    font-family: serif;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 1.2rem;
    .left{
        font-size: 2rem;
        font-style: italic;
    }
    .center{
        font-size: 1.2rem;
        width: 30%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        span{
            &:hover{
            transform: scale(1.1);
            cursor: pointer;
            transition: all;
        }
        }
    }
    .right{
        button{
            background-color: #a93c3c;
            padding: 10px;
            font-family: serif;
            border: none;
            font-weight: 600;
            border-radius: 20px;
            &:hover{
                transform: scale(1.2);
                cursor: pointer;
                transition: all;
            }
        }
    }
}
.box{
    height: 100vh;
    width: 100vw;
    background: url(../img/bg.jfif) center / cover;
    .content{
        position: absolute;
        top: 40%;
        z-index: 1;
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        gap: 0.6rem;
        font-family: serif;
        .large{
            font-size: 2rem;
        }
        .cbutton{
            background-color: #a93c3c;
            padding: 10px;
            border-radius: 20px;
            font-family: serif;
            border: none;
            font-weight: 600;
            font-size: 1.4rem;
            &:hover{
                transform: scale(1.2);
                transition: all;
                cursor: pointer;
            }
        }
    }
}